body {
    background-color: #414141;
}

.funny-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: space-around;
}

h1.funny-button {
    color: #ffffff;
    background-color: #247B7B;
    width: 15vw;
    text-align: center;
    cursor: pointer;
}

h1.cash-out-button {
    color: #ffffff;
    background-color: #247B7B;
    width: 15vw;
    text-align: center;
    cursor: pointer;
}

.reset-button {
    display: none;
}

.active-reset-button {
    color: #ffffff;
    background-color: #247B7B;
    width: 15vw;
    text-align: center;
    cursor: pointer;
}

.dead-cash-button {
    color: #ffffff;
    background-color: #8b8b8b;
    width: 15vw;
    text-align: center;
}

h1 {
    color: #ffffff;
}

.click-chance {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}